/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


/* targets html element body */
body {
	background-color: skyblue;	
	/*background-image: url("../images/background.jpeg");*/
	background-image: linear-gradient(rgba(17, 126, 112, 0.75),rgba(0, 88, 255, .45)), url("../images/background.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: #f2f2f2; /*off white*/
}
/* end of body styling */

/* start of h1 styling */
h1 {
	font-size: 50px;
	background-color: #333; /* off black */
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 10px;
    font-family: 'Arimo', sans-serif;
}
/* end of h1 styling */


/*start of h2 styling*/
h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 15px;
	margin-bottom: 5px;
	background-color: #333;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Arimo', sans-serif;
}
/*end of h2 styling*/


/*targets the element with the class 'bio' */
.bio {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	background-color: rgba(51,51,51,0.5);
	line-height: 1.75;
}
/*end of bio styling*/

/*targets the element with the id "me" */
#me {
	height: 300px;
	width: 200px;
	border-radius: 50%;
	border-color: rgb(0, 88, 255);
	border-width: 2px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
/*end of #me styling*/

/*targets the element with the class "container" */
.container {
	width: 500px;
	text-align:center;
	margin: 0 auto;

}
/*end of container styling*/

.languages {
	font-size: 25px;
	letter-spacing: 10px;
	margin-bottom: 10px;
	color: skyblue;
	background-color: rgba(51,51,51,0.85);


}

